## Deliverable 2. Create a Customer Travel Destinations Map.

In [6]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [7]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Cape Town,ZA,-33.9258,18.4232,59.11,69,1,7.34,clear sky
1,1,Chiredzi,ZW,-21.0500,31.6667,89.83,27,5,7.40,clear sky
2,2,Conroe,US,30.3119,-95.4560,71.37,92,40,6.06,scattered clouds
3,3,Carnarvon,AU,-24.8667,113.6333,78.87,61,0,16.11,clear sky
4,4,Vao,NC,-22.6667,167.4833,72.23,75,12,14.58,few clouds

In [8]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [9]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Chiredzi,ZW,-21.0500,31.6667,89.83,27,5,7.40,clear sky
3,3,Carnarvon,AU,-24.8667,113.6333,78.87,61,0,16.11,clear sky
7,7,Bathsheba,BB,13.2167,-59.5167,81.21,74,20,18.41,few clouds
9,9,Tabou,CI,4.4230,-7.3528,76.82,87,74,4.14,broken clouds
12,12,Zhuhai,CN,22.2769,113.5678,76.71,68,20,17.27,few clouds

In [10]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.notnull().sum()

City_ID                217
City                   217
Country                217
Lat                    217
Lng                    217
Max Temp               217
Humidity               217
Cloudiness             217
Wind Speed             217
Current Description    217
dtype: int64

In [35]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Chiredzi,ZW,89.83,clear sky,-21.0500,31.6667,
3,Carnarvon,AU,78.87,clear sky,-24.8667,113.6333,
7,Bathsheba,BB,81.21,few clouds,13.2167,-59.5167,
9,Tabou,CI,76.82,broken clouds,4.4230,-7.3528,
12,Zhuhai,CN,76.71,few clouds,22.2769,113.5678,
...,...,...,...,...,...,...,...
694,Totness,SR,77.58,overcast clouds,5.8833,-56.3167,
695,Coari,BR,77.40,broken clouds,-4.0850,-63.1414,
696,Kismayo,SO,80.96,clear sky,-0.3582,42.5454,
698,Iberia,US,75.20,clear sky,29.9502,-91.7507,
700,Porto Novo,BJ,76.82,light rain,6.4965,2.6036,

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    

    # 6e. Make request and retrieve the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
    
hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Chiredzi,ZW,89.83,clear sky,-21.0500,31.6667,Clevers Hotel Chiredzi
3,Carnarvon,AU,78.87,clear sky,-24.8667,113.6333,Hospitality Carnarvon
7,Bathsheba,BB,81.21,few clouds,13.2167,-59.5167,Atlantis Hotel
9,Tabou,CI,76.82,broken clouds,4.4230,-7.3528,hotêl doufoulougou
12,Zhuhai,CN,76.71,few clouds,22.2769,113.5678,Nanyang Seascape Hotel Zhuhai Hotel
...,...,...,...,...,...,...,...
694,Totness,SR,77.58,overcast clouds,5.8833,-56.3167,STAATS LOGEERGEBOUW TOTNESS
695,Coari,BR,77.40,broken clouds,-4.0850,-63.1414,HOTEL ALEX FLAT
696,Kismayo,SO,80.96,clear sky,-0.3582,42.5454,Agan-Hotel
698,Iberia,US,75.20,clear sky,29.9502,-91.7507,back to back rv park
700,Porto Novo,BJ,76.82,light rain,6.4965,2.6036,Tour Eiffel Hotel Benin

In [14]:
# # 7. Drop the rows where there is no Hotel Name.
# clean_hotel_df = hotel_df.dropna()
# clean_hotel_df.count()

In [17]:
clean_hotel_df=hotel_df[hotel_df["Hotel Name"] !=""]
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Chiredzi,ZW,89.83,clear sky,-21.0500,31.6667,Clevers Hotel Chiredzi
3,Carnarvon,AU,78.87,clear sky,-24.8667,113.6333,Hospitality Carnarvon
7,Bathsheba,BB,81.21,few clouds,13.2167,-59.5167,Atlantis Hotel
9,Tabou,CI,76.82,broken clouds,4.4230,-7.3528,hotêl doufoulougou
12,Zhuhai,CN,76.71,few clouds,22.2769,113.5678,Nanyang Seascape Hotel Zhuhai Hotel
...,...,...,...,...,...,...,...
694,Totness,SR,77.58,overcast clouds,5.8833,-56.3167,STAATS LOGEERGEBOUW TOTNESS
695,Coari,BR,77.40,broken clouds,-4.0850,-63.1414,HOTEL ALEX FLAT
696,Kismayo,SO,80.96,clear sky,-0.3582,42.5454,Agan-Hotel
698,Iberia,US,75.20,clear sky,29.9502,-91.7507,back to back rv park
700,Porto Novo,BJ,76.82,light rain,6.4965,2.6036,Tour Eiffel Hotel Benin

In [52]:
#hotel_df[hotel_df["Hotel Name"] ==""]

In [18]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [19]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [20]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))